/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    background-color: #dddddd;
    color: #0f141e;
    margin: 0;
}  
b {
    font-weight: bold;
}
.page-title {
    font-weight: bold;
}
h1 {
    font-size: 38px;
}
.block-title {
    font-weight: 300;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.section {
    box-sizing: border-box;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 2em;
}
.card {
    display: flex;
}
.card-img {
    margin-right: 2em;
}
.card-content > * {
    margin-top: 0;
}
.section > * {
    margin-top: 0;
}
.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table tr td {
    padding: 15px;
    border: 1px solid #dddddd;
}
.table th {
    padding: 15px;
    border: 1px solid #dddddd;
    background-color: #fafafa;
}
.list-tabs-item {
    display: flex;
}
.list-tabs-item b {
    flex: 0 0 15%;
    max-width: 15%;
}
.list-tabs-item:not(:last-child) {
    margin-bottom: 1em;
}
.contacts-iltems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.contact-item {
    margin: 0 15px;
    text-align: center;
}
.contact-item-img {
    width: 32px;
    height: 32px;
}
